body {
    margin: 30px auto;
    max-width: 1200px;
}

.todo__form {
    margin-bottom: 15px;
}

.todo__input {
    outline: 1px solid black;
    padding: 5px 10px;
    width: 70%;
    margin-right: 30px;
}

.todo__button {
    cursor: pointer;
    padding: 5px 10px;
}

.todolist {
    display: flex;
    gap: 30px;
}

.todolist__column {
    flex: 0 1 33%;
}

.todolist__title {
    text-align: center;
    margin-bottom: 20px;
}

.todolist__todos {
    background-color: gray;
    padding: 30px 15px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoitem {
    background-color: rgb(246, 242, 236);
    width: 70%;
    padding: 20px 10px;
    margin-bottom: 40px;
    cursor: pointer;
}

.todoitem div:not(:last-child) {
    margin-bottom: 15px;
}

.todoitem__flex {
    display: flex;
    color: rgb(61, 61, 61);
    gap: 10px;
    align-items: center;
}

.repo__link {
    font-size: 18px;
    color: rgb(50, 155, 155);
    margin-right: 20px;
}

.repo__link:hover {
    text-decoration: underline;
}

.repo {
    margin-bottom: 40px;
}

.error {
    color: red;
}
